name: Pull Request

on:
  pull_request:
    types: [opened, ready_for_review, reopened, synchronize]

jobs:
  checks:
    name: Build, Linting and Testing
    runs-on: ubuntu-latest
    permissions:
      actions: write
      packages: write
      checks: write
      contents: write
      pull-requests: write

    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number }}-checks
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Run Biome
        run: bun run check

      - name: Run Vitest
        run: bun run test
